{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}

    <h2>Closed Listings</h2>
    <br>
    {% for listing in listings %}
    <div onclick='location.href="{% url 'closed_item' id=listing.listing_closed.id %}";' style="cursor: pointer;">
        <form action="{% url 'closed_item' id=listing.listing_closed.id %}" method="get">
            <div class="card">
                {% if listing.listing_closed.photo %}
                    <span class="image"><img src= {{listing.listing_closed.photo}} alt="listing.listing_closed.title"></span>
                {% endif %}
                <span class="details_container">
                    <div class="details">
                        <div><strong>{{ listing.listing_closed.title }}</strong></div>
                        <div>Description: {{ listing.listing_closed.description }} </div>
                        <div>Winnind bid: {{listing.listing_closed.current_price}} $</div>
                        <div>Bidding started at {{ listing.listing_closed.starting_bid }} $</div>
                        <div>Category: {{ listing.listing_closed.category.category_title }}</div> 
                        <div>Won by {{listing.winner}} </div>
                        <div>Posted at {{ listing.listing_closed.post_date }} </div>
                    </div>
                </span>
            </div>  
        </form>
    </div>    
    {% endfor %}
       
    
{% endblock %}